<div class="container">
    <div class="row">
        <div class="col-lg-3 text-left">
            <h4 class="section-title">{Username}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <script language="javascript">
                window.addEventListener('load', function() {
                    document.querySelector('input[type="file"]').addEventListener('change', function() {
                        if (this.files && this.files[0]) {
                            var img = document.querySelector('#myImg');  // $('img')[0]
                            img.src = URL.createObjectURL(this.files[0]); // set src to file url
                            img.onload = imageIsLoaded; // optional onload event listener
                        }
                    });
                });

                function imageIsLoaded(e) { alert("Successfully changed avatar."); }

            </script>
            <img class="already-avatar" id="myImg" src="../img/emptyAvatar.jpg" width="186px"    height="236px"/>
            <br><br>
            <h4>Change avatar</h4>
            <input type='file' />
        </div>
    </div>
    <h3>Users list:</h3>
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">

            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">

            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">

            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">

            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="http://s7d2.scene7.com/is/image/PetSmart/PB1201_STORY_CARO-Authority-HealthyOutside-DOG-20160818?$PB1201$" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#">
                <div class="hovereffect fill">
                    <a href="#"><img class="fill img-responsive img-fluid img-thumbnail" src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Dog-bite-prevention.jpg?itok=3N2KTNkP" alt=""></a>
                    <div class="overlay">
                        <h2>Hover effect 1</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br/>
</div>
