<!--explore page custom style-->
<link rel="stylesheet" type="text/css" href="../css/explore.css"/>

{{> header}}

<br/>

<div class="container">

    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#/explore">All</a>
        </li>
        <li class="nav-item">
            <a id="lostBtn" class="nav-link active" href="#/explore/lost">Lost</a>
        </li>
        <li class="nav-item">
            <a id="foundBtn" class="nav-link" href="#/explore/found">Found</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
               aria-expanded="false">Type</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Dog</a>
                <a class="dropdown-item" href="#">Cat</a>
                <a class="dropdown-item" href="#">Helicopter</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Other</a>
            </div>
        </li>
    </ul>
    <h1 class="my-4 text-center text-lg">Lost Pets</h1>

    <div id="petsGrid" class="row text-center text-lg-left">

        {{#each pets}}
            {{> petThumbnail}}
        {{/each}}

    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a id="loadMore" class="page-link" href="#">Load More</a>
                        <!--<button type="button" class="btn btn-outline-primary page-link">Load More</button>-->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <br/>
</div>




{{> footer}}
{{> scrollTop}}
{{> scripts}}

