<div class="col-lg-3 col-md-4 col-xs-6">

    <a href="#">
        <div class="hovereffect fill">
            <!--<img class="fill img-responsive img-fluid img-thumbnail"-->
                 <!--src="data:image/png;base64,{{imageData}}"-->
                 <!--alt="">-->

            <img class="fill img-responsive img-fluid img-thumbnail"
                 src="https://i.pinimg.com/736x/28/48/2a/28482a0d5fbce3bb408e4af68289f464--funny-dog-pictures-really-funny-pictures.jpg"
                 alt="">
            <div class="overlay">
                <h2>{{petType}}</h2>
            </div>
        </div>
    </a>
</div>