<ul class="nav pull-right">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="logInMenu" data-toggle="dropdown">
            Enter
        </button>
        <div class="dropdown-menu" aria-labelledby="logInMenu">
            <a href="#/login"><button class="dropdown-item" type="button">Login</button></a>
            <a href="#/register"><button class="dropdown-item" type="button">Register</button></a>
        </div>
    </div>
</ul>