<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> 
            {{username}}
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu user-dropdown">
            <li>
                <div class="col-lg-12"><p><strong>{{firstName}} {{lastName}}</strong></p></div>
            </li>
            <li>
                <div class="col-lg-12"><p>{{email}}</p></div>
            </li>
            <li>
                <a href="#/userProfile"><button id="navbar-dashboard-btn" type="button" class="btn btn-success col-lg-12">Profile</button></a>
            </li>

            <li>
                <a href="#/logout"><button id="navbar-logout-btn" type="button" class="btn btn-danger col-lg-12 navbar-user-btn">Logout</button></a>
            </li>

        </ul>
    </li>
</ul>
