<link href="../css/createPoster.css" rel="stylesheet">

{{> header}}

<div class="container">
    <div class="jumbotron" align="center">

        {{> createLostForm}}

    </div>
    {{> createLostPosterScript}}

</div>

{{> footer}}