<div class="col-lg-12">
    <form method="post" action="#/createFoundPoster">
        <h1>Create poster for found pet</h1>
        <hr/>
        <br/>
        <div class="dropzone">
            <p>Drag and Drop picture of the pet you have found</p>
            <div class="posterImage">
            </div>
        </div>
        <br/>
        <div class="form-group">
            <label for="petType">What was it?</label>
            <select class="form-control" id="petType" name="petType">
                <option>empty</option>
                <option>Dog</option>
                <option>Cat</option>
                <option>Mouse</option>
                <option>Elephant</option>
                <option>Eagle</option>
            </select>
        </div>
        <br/>
        <div class="form-group">
            <label for="petBreed">What was it's breed?</label>
            <input type="text" class="form-control" id="petBreed" placeholder="Breed of Pet" name="petBreed">
        </div>
        <br/>
        <fieldset class="form-group">
            <label>Gender</label>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="petGender" id="Male" value="Male" checked>
                    Male
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="petGender" id="Female" value="Female">
                    Female
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="petGender" id="Other" value="Other">
                    Other
                </label>
            </div>
        </fieldset>
        <br/>
        <div class="form-group">
            <label for="exampleTextarea">Additional information about your pet.</label>
            <textarea class="form-control" id="exampleTextarea" rows="3" name="petInformation"></textarea>
            <small id="emailHelp" class="form-text text-muted">All kinds of distinctive features could help.</small>
        </div>
        <br/>
        <div id="map" style="width:100%;"></div>
        <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lng" name="lng">
        <input type="hidden" id="rad" name="rad">
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDS-RX-iagXzk6sZHXDf-vlNsVN3KXGaE&callback=initMap">
</script>