<!--user profile custom style-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="../css/profile.css">

{{> header}}


<section id="userProfile">
    <div class="container profile">
        {{> userBlock}}
        <div class="box">
            <!-- Main container -->
            <nav class="level">
                <div>
                    <h1>-Posted by You-</h1>
                </div>
            </nav>
        </div>
        <div class="spacer"></div>
        <div>
            {{#each pets}}
                {{> petCard}}
            {{/each}}
        </div>
    </div>
</section>

{{> footer}}
{{> scrollTop}}