<link href="../css/petDetails.css" rel="stylesheet">

{{> header}}
<div class="container">
    <br/>
    <div class="jumbotron" align="center">
        {{>lostPetDetails}}
    </div>
</div>
{{> footer}}
{{> scrollTop}}
<!--<script async defer-->
        <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDS-RX-iagXzk6sZHXDf-vlNsVN3KXGaE&callback=initMap">-->
<!--</script>-->
{{>petDetailsScript}}
