<!--register custom style-->
<link rel="stylesheet" type="text/css" href="../css/register-styles.css"/>

{{> header}}

<section id="register">
    <div class="container">

        {{> registerForm}}

    </div>

</section>

{{> footer}}
{{> scrollTop}}
{{> scripts}}
