<!-- About -->

<section class="about" id="about">
    <div class="container text-center">
        <h2>
            Lost a dear and beloved pet?
        </h2>

        <p>
            Moron. You knew you can't handle the responsibility of owning a pet. But you went ahead and got one anyway. Now see what you've done?
        </p>
        <p>
            Oh well, it seems you'll never learn. Don't worry, we'll help you out. Just Login or Register now to get started!
        </p>


        <div class="row stats-row">
            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">426</span> Satisfied Users
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">237</span> Rewards Collected
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">1,463</span> Active Explorers
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">42</span>Fooled by these fake statistics
                </div>
            </div>
        </div>

        <div id="home-login-register" class="row">
            <div class="offset-lg-2 col-lg-3">
                <a href="#/login"><button class="btn btn-primary homepage-btn">Login</button></a>
            </div>
            <div class="offset-lg-2 col-lg-3">
                <a href="#/register"><button class="btn btn-primary homepage-btn">Register</button></a>
            </div>
        </div>

    </div>
</section>
<!-- /About -->