<section class="features" id="features">
    <row>
        <h2>Explore your area for wanted or found pets!</h2>
        <p><em>Gotta catch 'em all!</em></p>
    </row>
    <div class="container-fluid">

        <!--Google Map-->

        <div id="map">Loading Map...</div>


    </div>
</section>